*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #09090b;


    color: #f59e0b;
}

h1,h2,h3{
    color: #603F35;
}